<div class="h-full w-full py-7 bg-gradient-to-r from-blue to-purple1 border border-grey2">
    <div class="flex text-white justify-center gap-16 items-center">
        <a class="font-semibold hover:underline hover:text-grey1 hover:scale-105 hover:font-bold" routerLink="/">Accueil</a>
        <a class="font-semibold hover:underline hover:text-grey1 hover:scale-105 hover:font-bold" routerLink="/contact">Formulaire de contact</a>
        <a class="font-semibold hover:underline hover:text-grey1 hover:scale-105 hover:font-bold" routerLink="/orders">Liste des commandes</a>
        <a class="font-semibold hover:underline hover:text-grey1 hover:scale-105 hover:font-bold" routerLink="/books">Liste des livres</a>
        <a class="font-semibold hover:underline hover:text-grey1 hover:scale-105 hover:font-bold" routerLink="/users">Liste des utilisateurs </a> 
    </div>
</div>