<div class="h-full w-full py-7 bg-background border border-grey2">
    <div class="flex justify-center gap-16 items-center">
        <a class="font-semibold hover:underline hover:text-blue1 transition duration-300 ease-in-out transform hover:scale-105 hover:font-bold" routerLink="/">Accueil</a>
        <a class="font-semibold hover:underline hover:text-purple1 transition duration-300 ease-in-out transform hover:scale-105 hover:font-bold" routerLink="/contact-form">Formulaire de contact</a>
        <a class="font-semibold hover:underline hover:text-blue1 transition duration-300 ease-in-out transform hover:scale-105 hover:font-bold" routerLink="/orders-list">Liste des commandes</a>
        <a class="font-semibold hover:underline hover:text-purple1 transition duration-300 ease-in-out transform hover:scale-105 hover:font-bold" routerLink="/product-list">Liste des produits</a>
        <a class="font-semibold hover:underline hover:text-blue1  transform hover:scale-105 hover:font-bold" routerLink="/user-list">Liste des utilisateurs </a> 
    </div>
</div>
