<div class=" min-h-screen flex flex-col">
    <div class="container mx-auto my-8">
        <div class="text-center">
            <h1 class="text-4xl font-bold text-grey1">Bienvenue sur la première bibliothèque en ligne spécialisé dans le sport</h1>
            <p class="text-xl text-grey1 mt-4">Découvrez tous nos livres et gérer vos clients ainsi que vos emprunts, le tout sur une seule et même plateforme</p>
        </div>

        <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
            <div class="bg-purple1 p-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-110">
                <h2 class="text-2xl text-white font-semibold">Gestion des livres</h2>
                <p class="mt-4 text-white">Explorez notre catalogue de livres, n'hesitez pas a cliquer dessus pour en savoir plus.</p>
            </div>
            <div class="bg-blue p-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-110">
                <h2 class="text-2xl text-white font-semibold">Gestion de vos clients</h2>
                <p class="mt-4 text-white">Gérez les comptes clients.</p>
            </div>
                <div class="bg-grey1 p-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-110">
                    <h2 class="text-2xl text-white font-semibold">Gestion des emprunts</h2>
                    <p class="mt-4 text-white">Gérez vos emprunts, les retours et la logistique</p>
                </div>
        </div>
    </div>
</div>